$base-color: #0e1117;
$secondary-color: #00b2fe;
$lighter-gray: #141820;
$card-border: #263035;
.top-sec {
  text-align: center;
  margin: 1rem 0;
}
.add-book {
  text-align: start;

  button {
    background: $secondary-color;
    border: none;
    border-radius: 15px;
    padding: 10px 33px;
    margin: 1.5rem 0;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }
}
