$base-color: #060c11;
$secondary-color: #00b2fe;

.container {
  background-color: $base-color;
  border: 1px solid #00b2fe;
}

.vid-wrapper {
  margin: auto;
  display: flex;
  border: 1px solid rgb(15, 223, 25);
  width: 900px;
  padding-right: 4rem;
}

.video-card {
  max-width: 300px;
  max-height: 300px;
  flex-direction: column;
  margin: 10px;
  border-radius: 15px;

  img {
    border-radius: 15px;
    width: 100%;
  }
  .vid-card-desc {
    color: $secondary-color;
    font-weight: bolder;
  }
}

.arabic-sec {
  display: flex;

  h1 {
    margin: auto;
  }
}

@media (280px <=width <=463px) {
  .vid-wrapper {
    width: 280px;
  }
}
@media (464px <=width <=604px) {
  .vid-wrapper {
    width: 460px;
  }
}
@media (605px <=width <=754px) {
  .vid-wrapper {
    width: 500px;
  }
}
@media (754px <=width <=907px) {
  .vid-wrapper {
    width: 750px;
  }
}
