$base-color: #09172d;
$secondary-color: #00b2fe;

.homePage {
  color: white;
  background: $base-color;
}

.intro-wrapper {
  background-image: url(../../img/backImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.intro-sec {
  gap: 25px;
  flex: 7;
  max-width: 70%;
  border: 1px solid white;

  .left-sec {
    padding: 3rem 1rem;
    margin: 1rem 0;

    h1 {
      padding: 0 0 1rem 0;
      font-size: 3.5rem;
    }

    p {
      font-size: larger;
      padding: 2rem 0;
    }
  }
  button {
    background: #00b2fe;
    border: none;
    border-radius: 15px;
    padding: 10px 33px;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
  }
  button:hover {
    color: $base-color;
  }
}

.image-sec img {
  flex: 3;
  border: 1px solid red;
  height: 70%;
}

@media (280px <= width <=900px) {
  .homePage {
    background-position: center;
  }

  .intro-wrapper {
    flex-direction: column;
  }

  .intro-sec {
    color: yellow;
    padding: 2rem 1rem;
    max-width: 90%;

    .left-sec {
      padding: 1rem;
      font-size: 1rem;

      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
