$base-color: #060c11;
$secondary-color: #00b2fe;

.active {
  color: #00b2fe;
}

nav {
  height: 60px;
  background-color: $base-color;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 33px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $secondary-color;
  border-radius: 2px 15px;
}

nav .logo {
  color: $secondary-color;
  text-decoration: none;
  flex: 1;
  align-items: center;

  height: 43px;
}

nav ul {
  flex: 5;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:hover {
  color: $secondary-color;
}

.open-dropdown {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-color: $secondary-color;
}
.close-dropdown {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-color: $secondary-color;
  transform: rotate(180deg);
}
.dropdown-items {
  background-color: $secondary-color;
  position: absolute;
  top: 58px;
  width: 180px;

  .items {
    color: $base-color;
    padding: 10px;
  }
  .items:hover {
    color: white;
  }
}

nav .menu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

nav .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: $secondary-color;
  border-radius: 0.2rem;
  cursor: pointer;
}

@media (280px <= width <=900px) {
  nav {
    height: 60px;
    padding: 10px 3px;
    background-color: $base-color;
  }
  nav .logo {
    height: 33px;
  }
  nav .menu {
    display: flex;
    top: 1rem;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100vw;
    margin: 0.5rem 0 0 0;
    gap: 0.3rem;
    top: 53px;
    position: absolute;
  }

  nav ul.open {
    display: flex;
    background-color: $base-color;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }

  .open-dropdown {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-color: $secondary-color;
  }
  .close-dropdown {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-color: $secondary-color;
    transform: rotate(180deg);
  }
  .dropdown-items {
    background-color: $secondary-color;
    position: relative;
    width: 250px;
    transform: translatY(50%);
    transform: translateX(20%);
    border-radius: 3px;

    .items {
      color: $base-color;
      padding: 10px;
    }
  }
}
@media (280px <= width <=400px) {
  .dropdown-items {
    position: relative;
    max-width: 280px;
    top: 10px;
    transform: translateX(-8%);
  }
}

@media (401px <= width <=600px) {
  .dropdown-items {
    max-width: 500px;
    top: 10px;
    transform: translateX(8%);
  }
}

@media (601px <= width <=900px) {
  .dropdown-items {
    max-width: 500px;
    top: 10px;
    transform: translateX(78%);
  }
}
