$base-color: #0e1117;
$secondary-color: #00b2fe;
$card-bg: #141820;
$card-border: #263035;
$active: #09172d;
.player-container {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  max-height: 600px;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  border-radius: 5px;

  .player-sec {
    max-height: 600px;
    flex: 5;

    .video {
      border: 2px solid $card-border;
    }
  }
  .video-info {
    flex: 1;
    padding: 1rem 0;

    p {
      padding: 1rem 0;
    }
  }
}

.side-video-sec {
  flex: 1;
  height: 600px;
  overflow-y: scroll;
  border: 2px solid $card-border;

  .link {
    text-decoration: none;
    color: white;
  }

  .reco-vids-wrapper {
    display: flex;
    gap: 1rem;
    border: 1px solid $card-border;
    margin: 1rem;
    padding: 10px;
    border-radius: 5px;
  }
  img {
    max-width: 200px;
    height: 100px;
    border-radius: 5px;
  }
  .active-vid {
    background: $active;
  }
}

@media (280px <=width <=900px) {
  .player-container {
    display: flex;
    flex-direction: column;
  }

  .player-sec {
    background: #621313;
    width: 100%;
    height: fit-content;

    .player {
      .video {
        width: 100%;
      }
    }
  }
}
